<h2>List of Bands</h2>
<br>

<ul>
<% @bands.each do |band| %>
  <li> <a href="<%= band_url(band) %>"> <%= band.name %> </a> </li>
<% end %>
</ul>

<br>
<a href="<%= new_band_url %>">Enter a new band!</a>
